<%= form_with(model: big_card, local: true) do |form| %>
  <% if big_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(big_card.errors.count, "error") %> prohibited this big_card from being saved:</h2>

      <ul>
      <% big_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">

      <tbody>
        <tr>
          <td><strong>Jurisdiction abbreviation</strong></td>
          <td><%= form.text_field :state_abbreviation, id: :big_card_state_abbreviation %></td>
          <td><strong><%= form.label :used_check %></strong></td>
          <td><%= form.check_box :used_check, id: :big_card_used_check %></td>
        </tr>
        <tr>
          <td><strong><%= form.label :root_filename %></strong></td>
          <td colspan="3" class="fullTextArea"><%= form.text_field :root_filename, id: :big_card_root_filename %></td>
        </tr>
        <tr>
           <td><strong><%= form.label :file_group %></strong></td>
           <td colspan="3" class="fullTextArea"><%= form.text_field :file_group, id: :big_card_file_group %></td>
        </tr>
        <tr>
           <td><strong>ASpace ID</strong></td>
           <td colspan="3" class="fullTextArea"><%= form.text_field :aspace, id: :big_card_space %></td>
        </tr>
        <tr>
          <td><strong>OCR Fixed:</strong></td>
          <td><%= form.check_box :ocr_check, id: :big_card_ocr_check %></td>
        </tr>
        <tr>
          <td colspan="4" class="fullTextArea"><%= form.text_area :ocr_text, id: :big_card_ocr_text %></td>
        </tr>
        <tr>
            <td colspan="4" class="actions">
              <div class="text-center">
                <%= form.button '<i class="fa fa-check"></i> Update Big Card'.html_safe, class: "btn btn-success" %>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
<% end %>
