<%= form_with(model: espy_record, local: true, class: "row") do |form| %>
  <% if espy_record.errors.any? %>
    <div class="container">
      <div class="alert alert-danger" role="alert">
      
        <strong>Error!</strong> <%= pluralize(espy_record.errors.count, "error") %>  prevented this record from being created.
        <ul>
        <% espy_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if params.has_key?(:card) %>
    <% @this = IndexCard.find(params[:card]) %>
  <% else %>
    <% @this = IndexCard.find(espy_record.index_card_id) %>
  <% end %>


  <div class="col">
    <div class="thirds-top">

      <%= render 'layouts/show_cards', file_group: @this.file_group, folder: "smallCards" %>

      <div class="field ocrCheck">
        <strong>OCR Fixed:</strong>
        <%= form.check_box :ocr_fixed, id: :espy_record_ocr_fixed %>
      </div>

      <div class="field">
        <% if params.has_key?(:card) %>
          <%= form.text_area :ocr_text, id: :espy_record_ocr_text, :value => @this.ocr_text, class: "form-control ocr-fix", rows: "8" %>
        <% else %>
          <%= form.text_area :ocr_text, id: :espy_record_ocr_text, class: "form-control ocr-fix", rows: "8" %>
        <% end %>
      </div>
    </div>
    <div class="thirds-top">
      <% if espy_record.big_card == true %>
        <% @big_card = BigCard.find(espy_record.big_card_id) %>
        <%= render 'layouts/show_cards', file_group: @big_card.file_group, folder: "bigCards" %>
        <div class="field ocrCheck">
          <strong>OCR Fixed:</strong>
          <%= form.check_box :big_ocr_check, id: :espy_record_big_ocr_check, checked: espy_record.big_ocr_check %>
        </div>
        <div class="field">
          <%= form.text_area :big_ocr, id: :big_card_ocr_text, :value => espy_record.big_ocr, class: "form-control ocr-fix", rows: "8" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col">

    <div class="field">
      <%= form.hidden_field :uuid, id: :espy_record_uuid, :value => SecureRandom.uuid %>
    </div>

    <div class="field">
      <% if espy_record.icpsr_id.blank? %>
        <%= form.hidden_field :icpsr_record, id: :espy_record_icpsr_record, :value => false %>
      <% else %>
        <%= form.hidden_field :icpsr_record, id: :espy_record_icpsr_record, :value => true %>
      <% end %>
    </div>

    <div class="field">
      <%= form.hidden_field :icpsr_record_id, id: :espy_record_icpsr_record_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card, id: :espy_record_index_card, :value => true %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card_id, id: :espy_record_index_card_id, :value => @this.id %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card_files, id: :espy_record_index_card_files, :value => @this.file_group %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card_aspace, id: :espy_record_index_card_aspace, :value => @this.aspace %>
    </div>

    <div class="field">
      <%= form.hidden_field :big_card, id: :espy_record_big_card %>
    </div>

    <div class="field">
      <%= form.hidden_field :big_card_id, id: :espy_record_big_card_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :big_card_files, id: :espy_record_big_card_files %>
    </div>

    <div class="field">
      <%= form.hidden_field :big_card_aspace, id: :espy_record_big_card_aspace %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material, id: :espy_record_reference_material %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_id, id: :espy_record_reference_material_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_files, id: :espy_record_reference_material_files %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_aspace, id: :espy_record_reference_material_aspace %>
    </div>

    <table class="table table-sm espyTable">
    <thead>
      <th colspan="1">
        <div class="btn-group col-md-auto">
        <%= link_to '<i class="fa fa-arrow-left"></i> Make'.html_safe, "/make?state=" + @this.state_abbreviation + "&card=" + @this.id.to_s, class: "btn btn-secondary"%>
      </div>
      </th>
      <th colspan="7" class="text-center align-middle">
          <strong>Espy Record</strong>
      </th>
    </thead>
      <tbody>

        <tr>
          <td class="field">
            <strong><%= form.label :record_type %></strong>
          </td>
          <td class="field" colspan="4">
            <% if espy_record.record_type.present? %>
              <%= form.select(:record_type, type_options, {selected: :record_type}, { :class => 'form-control', :id => :espy_record_record_type }) %>
            <% else %>
              <%= form.select(:record_type, type_options, {selected: "Sourced"}, { :class => 'form-control', :id => :espy_record_record_type }) %>
            <% end %>
          </td>
          <td class="field" colspan="1">
            <strong><%= form.label :icpsr_id %></strong>
          </td>
          <td class="field" colspan="2">
            <%= form.number_field :icpsr_id, id: :espy_record_icpsr_id, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field" colspan="6">
            <strong class="nameLabel">First Name</strong>
            <%= form.text_field :first_name, id: :espy_record_first_name, class: "form-control nameWidth" %>
            <strong class="nameLabel">Last Name</strong>
            <%= form.text_field :last_name, id: :espy_record_last_name, class: "form-control nameWidth" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :name_source_icpsr, id: :espy_record_name_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :name_source_index, id: :espy_record_name_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :name_source_big, id: :espy_record_dname_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :name_source_ref, id: :espy_record_name_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :date_execution %></strong>
          </td>
          <td class="field">
            <label class="form-check-label circa">
              <strong>ca.</strong>
              <%= form.check_box :circa_date_execution, id: :espy_record_circa_date_execution %>
            </label>
          </td>
          <td class="field" colspan="4">
            <%= form.text_field :date_execution, id: :espy_record_date_execution, class: "form-control" %>
          </td>
          
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_icpsr, id: :espy_record_date_execution_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_index, id: :espy_record_date_execution_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_big, id: :espy_record_date_execution_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_ref, id: :espy_record_date_execution_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :date_crime %></strong>
          </td>
          <td class="field">
            <label class="form-check-label circa">
              <strong>ca.</strong>
              <%= form.check_box :circa_date_crime, id: :espy_record_circa_date_crime %>
            </label>
          </td>
          <td class="field" colspan="4">
            <%= form.text_field :date_crime, id: :espy_record_date_crime, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_icpsr, id: :espy_record_date_crime_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_index, id: :espy_record_date_crime_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_big, id: :espy_record_date_crime_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_ref, id: :espy_record_date_crime_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :age %></strong>
          </td>
          <td class="field" colspan="5">
            <%= form.number_field :age, id: :espy_record_age, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :age_source_icpsr, id: :espy_record_age_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :age_source_index, id: :espy_record_age_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :age_source_big, id: :espy_record_age_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :age_source_ref, id: :espy_record_age_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :sex %></strong>
          </td>
          <td class="field" colspan="5">
            <% if espy_record.sex.present? %>
              <%= form.text_field :sex, id: :espy_record_sex, class: "form-control" %>
            <% else %>
              <%= form.select(:sex, ['Male', 'Female', 'Non-binary', 'Unknown'], {include_blank: ""}, { :class => 'form-control' }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :sex_source_icpsr, id: :espy_record_sex_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :sex_source_index, id: :espy_record_sex_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :sex_source_big, id: :espy_record_sex_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :sex_source_ref, id: :espy_record_sex_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :race %></strong>
          </td>
          <td class="field" colspan="5">
            <% if espy_record.race.present? %>
              <%= form.text_field :race, id: :espy_record_race, class: "form-control" %>
            <% else %>
              <%= form.select(:race, ['Black', 'White', 'Native American', 'Hispanic', 'Asian', 'Pacific Islander', 'Asian-Pacific Islander', 'Unknown'], {include_blank: ""}, { :class => 'form-control', :id => 'espy_record_race' }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :race_source_icpsr, id: :espy_record_race_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :race_source_index, id: :espy_record_race_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :race_source_big, id: :espy_record_race_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :race_source_ref, id: :espy_record_race_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :crime %></strong>
          </td>
          <td class="field" colspan="5">
            <% if espy_record.crime.present? %>
              <%= form.text_field :crime, id: :espy_record_crime, class: "form-control" %>
            <% else %>
              <%= form.select(:crime, crime_options, {include_blank: ""}, { :class => 'form-control', :id => :espy_record_crime }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :crime_source_icpsr, id: :espy_record_crime_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :crime_source_index, id: :espy_record_crime_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :crime_source_big, id: :espy_record_crime_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :crime_source_ref, id: :espy_record_crime_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :slave %></strong>
          </td>
          <td class="field">
            <%= form.check_box :slave, id: :espy_record_slave %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :slave_source_icpsr, id: :espy_record_slave_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :slave_comp_index, id: :espy_record_slave_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :slave_source_big, id: :espy_record_slave_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :slave_source_ref, id: :espy_record_slave_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
          <td class="field">
            <strong><%= form.label :compensation_case %></strong>
          </td>
          <td class="field">
            <%= form.check_box :compensation_case, id: :espy_record_compensation_case %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :comp_source_icpsr, id: :espy_record_comp_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :comp_comp_index, id: :espy_record_comp_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :comp_source_big, id: :espy_record_comp_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :comp_source_ref, id: :espy_record_comp_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :execution_method %></strong>
          </td>
          <td class="field" colspan="5">
            <% if espy_record.execution_method.present? %>
              <%= form.text_field :execution_method, id: :espy_record_execution_method, class: "form-control" %>
            <% else %>
              <%= form.select(:execution_method, ['Hanging', 'Electrocution', 'Asphyxiation-Gas', 'Shot', 'Injection', 'Pressing', 'Break on Wheel', 'Burned', 'Hung in Chains', 'Bludgeoned', 'Gibbetted', 'Other', 'Unknown'], {include_blank: ""}, { :class => 'form-control', :id => :espy_record_execution_method }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_icpsr, id: :espy_record_execution_method_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_index, id: :espy_record_execution_method_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_big, id: :espy_record_execution_method_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_ref, id: :espy_record_execution_method_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :jurisdiction %></strong>
          </td>
          <td class="field" colspan="5">
            <% if espy_record.jurisdiction.present? %>
             <%= form.select(:jurisdiction, jurisdiction_options, {include_blank: false, selected: espy_record.jurisdiction}, { :class => 'form-control', :id => :espy_record_jurisdiction }) %>
            <% else %>
              <%= form.select(:jurisdiction, jurisdiction_options, {include_blank: false}, { :class => 'form-control', :id => :espy_record_jurisdiction }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_icpsr, id: :espy_record_jurisdiction_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_index, id: :espy_record_jurisdiction_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_big, id: :espy_record_jurisdiction_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_ref, id: :espy_record_jurisdiction_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :state %></strong>
          </td>
          <td class="field" colspan="4">
            <% if espy_record.state.present? %>
              <%= form.text_field :state, id: :espy_record_state, class: "form-control" %>
            <% else %>
              <% if params[:state] %>
                <% @stateName = state_names.key(params[:state]) %>
                <%= form.text_field :state, id: :espy_record_state, class: "form-control", value: @stateName %>
              <% else %>
              <%= form.select(:state, us_states, {include_blank: ""}, { :class => 'form-control', :id => :espy_record_state }) %>
              <% end %>
            <% end %>
          </td>
          <td class="field">
            <strong>Abbr</strong>
          </td>
          <td class="field" colspan="2">
            <% if espy_record.state.present? %>
              <%= form.text_field :state_abbreviation, id: :espy_record_state_abbreviation, class: "form-control" %>
            <% else %>
              <% if params[:state] %>
                <%= form.text_field :state_abbreviation, id: :espy_record_state_abbreviation, class: "form-control", value: params[:state] %>
              <% else %>
                <%= form.text_field :state_abbreviation, id: :espy_record_state_abbreviation, class: "form-control" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong>County Lookup</strong>
          </td>
          <td class="field" colspan="5">
            <input class="form-control" id="placeInput" placeholder="Search"></input>
          </td>
          <td class="field text-center" colspan="2">
            <a class="btn btn-success" href="#" id="countyLookup">
              <i class="fa fa-globe" aria-hidden="true"></i> County Lookup
            </a>         
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :county_name %></strong>
          </td>
          <td class="field" colspan="5">
            <%= form.text_field :county_name, id: :espy_record_county_name, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :county_source_icpsr, id: :espy_record_county_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :county_source_index, id: :espy_record_county_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :county_source_big, id: :espy_record_county_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :county_source_ref, id: :espy_record_county_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :county_code %></strong>
          </td>
          <td class="field"  id="fips" colspan="5">
            <%= form.number_field :county_code, id: :espy_record_county_code, type: "textarea", class: "form-control" %>
          </td>
          <td class="field text-center" colspan="2">
            <a class="btn btn-info" target="_blank" href="#" id="fipsLookup"><i class="fa fa-info-circle" aria-hidden="true"></i> Get Code</a>      
                   
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :note %></strong>
          </td>
          <td class="field" colspan="7">
            <%= form.text_area :note, id: :espy_record_note, class: "form-control" %>
          </td>
        </tr>

      </tbody>

    </table>

    <div class="form-group">
      <div class="text-center">
        <%= form.button '<i class="fa fa-check"></i> Make Espy Record'.html_safe, class: "btn btn-success" %>
      </div>
    </div> 

    <div class="modal fade" id="modalMap">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">County Lookup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="loadingBG">
              <iframe id="mapsWindow"></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="col">
    <% if not @record == nil %>
      <% if @record.references.length > 1 %>
        <% @splitter = "; " %>
      <% else %>
        <% @splitter = "; " %>
      <% end %>

      <% @refSwitch = false %>
      <% @refIDs = "" %>
      <% @refGroup = "" %>
      <% @refASpace = "" %>
      <% @refASpaceCount = 0 %>

      <% @record.references.each do |ref| %>
        <% @refSwitch = true %>
        <% @refIDs = @refIDs + ref.id.to_s + @splitter %>
        <% @refGroup = @refGroup + ref.filename + @splitter %>
        <% if not @refASpace.include? ref.aspace %>
          <% @refASpaceCount = @refASpaceCount + 1 %>
          <%if @refASpaceCount > 1 %>
            <% @refASpace = @refASpace + @splitter + ref.aspace %>
          <% else %>
            <% @refASpace = @refASpace + ref.aspace %>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'layouts/show_cards', file_group: @refGroup, folder: "reference" %>

      <%= form.hidden_field :reference_material, id: :espy_record_reference_material, :value => @refSwitch %>
      <%= form.hidden_field :reference_material_id, id: :espy_record_reference_material_id, :value => @refIDs %>
      <%= form.hidden_field :reference_material_files, id: :espy_record_reference_material_files, :value => @refGroup %>
      <%= form.hidden_field :reference_material_aspace, id: :espy_record_reference_material_aspace, :value => @refASpace %>
    <% end %>
  </div>

<% end %>
