<%= form_with(model: espy_record, local: true) do |form| %>
  <% if espy_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(espy_record.errors.count, "error") %> prohibited this espy_record from being saved:</h2>

      <ul>
      <% espy_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @record = IcpsrRecord.find_by_icpsr_id(params[:icpsr]) %>

  <div class="thirds">
    <div class="thirds-top">
      <%= render 'layouts/show_cards', this: @this, folder: "smallCards" %>

      <div class="field ocrCheck">
        <strong>OCR Fixed:</strong>
        <%= form.check_box :ocr_fixed, id: :espy_record_ocr_fixed, checked: true %>
      </div>

      <div class="field">
        <!--<%= form.label :ocr_text %>-->
        <%= form.text_area :ocr_text, id: :espy_record_ocr_text, :value => @this.ocr_text, class: "form-control ocr-fix", rows: "8" %>
      </div>
    </div>
    <div class="thirds-top">
      <% if @record.big_id != nil %>
        <% @big_card = BigCard.find(@record.big_id) %>
        <%= render 'layouts/show_cards', this: @big_card, folder: "bigCards" %>
        <div class="field ocrCheck">
          <strong>OCR Fixed:</strong>
          <%= form.check_box :big_ocr_check, id: :espy_record_big_ocr_check, checked: @big_card.ocr_check %>
        </div>
        <div class="field">
          <%= form.text_area :big_ocr, id: :big_card_ocr_text, :value => @big_card.ocr_text, class: "form-control ocr-fix", rows: "8" %>

          <%= form.hidden_field :big_card, id: :espy_record_big_card, :value => true %>
          <%= form.hidden_field :big_card_id, id: :espy_record_big_card_id, :value => @big_card.id %>
          <%= form.hidden_field :big_card_files, id: :espy_record_big_card_files, :value => @big_card.file_group %>
          <%= form.hidden_field :big_card_aspace, id: :espy_record_big_card_files, :value => @big_card.aspace %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="thirds">

    <div class="field">
      <%= form.hidden_field :uuid, id: :espy_record_uuid, :value => SecureRandom.uuid %>
    </div>

    <div class="field">
      <%= form.hidden_field :icpsr_record, id: :espy_record_icpsr_record, :value => true %>
    </div>

    <div class="field">
      <%= form.hidden_field :icpsr_record_id, id: :espy_record_icpsr_record_id, :value => @record.id %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card, id: :espy_record_index_card, :value => true %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card_id, id: :espy_record_index_card_id, :value => @this.id %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card_files, id: :espy_record_index_card_files, :value => @this.file_group %>
    </div>

    <div class="field">
      <%= form.hidden_field :index_card_aspace, id: :espy_record_index_card_aspace, :value => @this.aspace %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material, id: :espy_record_reference_material %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_id, id: :espy_record_reference_material_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_files, id: :espy_record_reference_material_files %>
    </div>

    <table class="table table-sm espyTable">
    <thead>
      <th colspan="1">
        <div class="btn-group col-md-auto">
          <%= link_to '<i class="fa fa-arrow-left"></i> Make'.html_safe, "/make?state=" + @this.state_abbreviation + "&card=" + @this.id.to_s, class: "btn btn-secondary"%>
        </div>
      </th>
      <th colspan="5" class="text-center align-middle">
          <strong>Espy Record</strong>
      </th>
    </thead>
      <tbody>

        <tr>
          <td class="field" colspan="1">
            <strong><%= form.label :icpsr_id %></strong>
          </td>
          <td class="field" colspan="5">
            <%= form.number_field :icpsr_id, id: :espy_record_icpsr_id, value: @record.icpsr_id, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field" colspan="1">
            <strong><%= form.label :first_name %></strong>
          </td>
          <td class="field" colspan="2">
            <%= form.text_field :first_name, id: :espy_record_first_name, value: @record.name.split(" ")[1], class: "form-control" %>
          </td>
          <td class="field" colspan="1">
            <strong><%= form.label :last_name %></strong>
          </td>
          <td class="field" colspan="2">
            <%= form.text_field :last_name, id: :espy_record_last_name, value: @record.name.split(" ")[0], class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :date_execution %></strong>
          </td>
          <td class="field">
            <label class="form-check-label circa">
              <strong>Circa</strong>
              <%= form.check_box :circa_date_execution, id: :espy_record_circa_date_execution %>
            </label>
          </td>
          <td class="field" colspan="2">
            <% begin %>
               <% Date.parse(@record.date_execution) %>
               <%= form.text_field :date_execution, id: :espy_record_date_execution, value: @record.date_execution, class: "form-control" %>
            <% rescue %>
              <div class="form-group has-danger" style="color: red">
               <%= form.text_field :date_execution, id: :espy_record_date_execution, value: @record.date_execution, class: "form-control form-control-danger" %>
               </div>
               <small class="form-control-feedback">Invalid Date</small>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_icpsr, id: :espy_record_date_execution_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_index, id: :espy_record_date_execution_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_big, id: :espy_record_date_execution_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_ref, id: :espy_record_date_execution_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :date_crime %></strong>
          </td>
          <td class="field">
            <label class="form-check-label circa">
              <strong>Circa</strong>
              <%= form.check_box :circa_date_crime, id: :espy_record_circa_date_crime %>
            </label>
          </td>
          <td class="field" colspan="2">
            <%= form.text_field :date_crime, id: :espy_record_date_crime, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_icpsr, id: :espy_record_date_crime_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_index, id: :espy_record_date_crime_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_big, id: :espy_record_date_crime_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_ref, id: :espy_record_date_crime_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :age %></strong>
          </td>
          <td class="field" colspan="3">
            <% if @record.age != nil %>
              <%= form.number_field :age, id: :espy_record_age, value: @record.age, class: "form-control" %>
            <% else %>
              <%= form.number_field :age, id: :espy_record_age, class: "form-control" %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :age_source_icpsr, id: :espy_record_age_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :age_source_index, id: :espy_record_age_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :age_source_big, id: :espy_record_age_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :age_source_ref, id: :espy_record_age_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :sex %></strong>
          </td>
          <td class="field" colspan="3">
            <%= form.text_field :sex, id: :espy_record_sex, value: @record.sex, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :sex_source_icpsr, id: :espy_record_sex_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :sex_source_index, id: :espy_record_sex_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :sex_source_big, id: :espy_record_sex_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :sex_source_ref, id: :espy_record_sex_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :race %></strong>
          </td>
          <td class="field" colspan="3">
            <% if @record.race == "Asian-Pacific Il" %>
              <%= form.text_field :race, id: :espy_record_race, value: 'Asian-Pacific Islander', class: "form-control" %>
            <% else %>
              <%= form.text_field :race, id: :espy_record_race, value: @record.race, class: "form-control" %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :race_source_icpsr, id: :espy_record_race_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :race_source_index, id: :espy_record_race_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :race_source_big, id: :espy_record_race_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :race_source_ref, id: :espy_record_race_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :crime %></strong>
          </td>
          <td class="field" colspan="3">
            <%= form.text_field :crime, id: :espy_record_crime, value: @record.crime, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :crime_source_icpsr, id: :espy_record_crime_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :crime_source_index, id: :espy_record_crime_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :crime_source_big, id: :espy_record_crime_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :crime_source_ref, id: :espy_record_crime_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :execution_method %></strong>
          </td>
          <td class="field" colspan="3">
            <%= form.text_field :execution_method, id: :espy_record_execution_method, value: @record.execution_method, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_icpsr, id: :espy_record_execution_method_source_icpsr, checked: true%>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_index, id: :espy_record_execution_method_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_big, id: :espy_record_execution_method_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_ref, id: :espy_record_execution_method_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :location_execution %></strong>
          </td>
          <td class="field" colspan="5">
            <%= form.text_field :location_execution, id: :espy_record_location_execution, value: @record.location_execution, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :jurisdiction %></strong>
          </td>
          <td class="field" colspan="5">
            <%= form.text_field :jurisdiction, id: :espy_record_jurisdiction, value: @record.jurisdiction, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :state %></strong>
          </td>
          <td class="field" colspan="3">
            <%= form.text_field :state, id: :espy_record_state, value: @record.state, class: "form-control" %>
          </td>
          <td class="field">
            <strong>Abbr</strong>
          </td>
          <td class="field">
            <%= form.text_field :state_abbreviation, id: :espy_record_state_abbreviation, value: @record.state_abbreviation, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong>County Lookup</strong>
          </td>
          <td class="field" colspan="4">
            <input class="form-control" id="placeInput" placeholder="Search"></input>
          </td>
          <td class="field text-center" colspan="1">
            <a class="btn btn-success" href="#" id="countyLookup">
              <i class="fa fa-globe" aria-hidden="true"></i> County Lookup
            </a>         
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :county_name %></strong>
          </td>
          <td class="field" colspan="3">
            <%= form.text_field :county_name, id: :espy_record_county_name, value: @record.county_name, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :county_source_icpsr, id: :espy_record_county_source_icpsr, checked: true %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :county_source_index, id: :espy_record_county_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :county_source_big, id: :espy_record_county_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :county_source_ref, id: :espy_record_county_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :county_code %></strong>
          </td>
          <td class="field" id="fips" colspan="3">
            <% if @record.county_code.to_s.length == 4 %>
              <% @fipsCode = "0" + @record.county_code.to_s %>
            <% else %>
              <% @fipsCode = @record.county_code.to_s %>
            <% end %>
            <%= form.number_field :county_code, id: :espy_record_county_code, type: "textarea", value: @fipsCode.to_s, class: "form-control" %>
          </td>
          <td class="field text-center" colspan="2">
              <a class="btn btn-info" target="_blank" href="#" id="fipsLookup"><i class="fa fa-info-circle" aria-hidden="true"></i> Get Code</a>         
          </td>
        <tr>
        <tr>
          <td class="field">
            <strong><%= form.label :compensation_case %></strong>
          </td>
          <td class="field">
            <%= form.check_box :compensation_case, id: :espy_record_compensation_case, value: @record.compensation_case %>
          </td>
        </tr>

      </tbody>

    </table>

    <div class="form-group">
      <div class="text-center">
        <%= form.button '<i class="fa fa-check"></i> Make Espy Record'.html_safe, class: "btn btn-success" %>
      </div>
    </div> 

    <div class="modal fade" id="modalMap">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">County Lookup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="loadingBG">
              <iframe id="mapsWindow"></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
<% end %>
