<%= form_with(model: espy_record, local: true, class: "row") do |form| %>
  <% if espy_record.errors.any? %>
    <div class="col-md-12">
      <div class="alert alert-danger" role="alert">
        <div class="container">
          <strong>Error!</strong> <%= pluralize(espy_record.errors.count, "error") %>  prevented this record from being created.
          <ul>
          <% espy_record.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  
  <% if params.has_key?(:icpsr) %>

      <% if params[:icpsr].include? "ID" %>
        <% @record = IcpsrRecord.find(params[:icpsr].split("ID")[1].to_i) %>
      <% else %>
        <% @record = IcpsrRecord.find_by_icpsr_id(params[:icpsr]) %>
      <% end %>
      
  <% else %>
    <% @record = IcpsrRecord.find_by_id(params[:id]) %>
  <% end %>
  
  <% if @record.name.nil? || @record.name.empty? %>
    <% @record.name = "" %>
  <% end %>
  <% if @record.name.gsub('(').count == 1 and @record.name.gsub(')').count == 1%>
    <% @ownerName = @record.name.split("(")[1].split(")")[0] %>
    <% @rumpName = (@record.name.split("(")[0] || "").strip + (@record.name.split(")")[1] || "").strip %>
  <% else %>
    <% @ownerName = "" %>
    <% @rumpName = @record.name %>
  <% end %>
  <% if @rumpName.gsub(' ').count == 0 %>
    <% if @rumpName.downcase == "unknown" %>
        <% @firstName = "" %>
    <% else %>
        <% @firstName = @rumpName %>
    <% end %>
    <% @lastName = "" %>
  <% elsif @rumpName.gsub(' ').count == 1 %>
    <% @firstName = @rumpName.split(" ")[1] %>
    <% @lastName = @rumpName.split(" ")[0] %>
  <% else %>
    <% @firstName = @rumpName.partition(" ").last.strip %>
    <% @lastName = @rumpName.partition(" ").first.strip %>
  <% end %>

  <div class="col">
    <% if params[:card] %>
      <div class="thirds-top">
        <%= render 'layouts/show_cards', file_group: @this.file_group, folder: "smallCards" %>

        <div class="field ocrCheck">
          <strong>OCR Fixed:</strong>
          <%= form.check_box :ocr_fixed, id: :espy_record_ocr_fixed %>
        </div>

        <div class="field">
          <!--<%= form.label :ocr_text %>-->
          <%= form.text_area :ocr_text, id: :espy_record_ocr_text, :value => @this.ocr_text, class: "form-control ocr-fix", rows: "8" %>
          <div class="field">
            <%= form.hidden_field :index_card, id: :espy_record_index_card, :value => true %>
          </div>

          <div class="field">
            <%= form.hidden_field :index_card_id, id: :espy_record_index_card_id, :value => @this.id %>
          </div>

          <div class="field">
            <%= form.hidden_field :index_card_files, id: :espy_record_index_card_files, :value => @this.file_group %>
          </div>

          <div class="field">
            <%= form.hidden_field :index_card_aspace, id: :espy_record_index_card_aspace, :value => @this.aspace %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="thirds-top">
      <% if @record.big_id != nil %>
        <% @big_card = BigCard.find(@record.big_id) %>
        <%= render 'layouts/show_cards', file_group: @big_card.file_group, folder: "bigCards" %>
        <div class="field ocrCheck">
          <strong>OCR Fixed:</strong>
          <%= form.check_box :big_ocr_check, id: :espy_record_big_ocr_check, checked: @big_card.ocr_check %>
        </div>
        <div class="field">
          <%= form.text_area :big_ocr, id: :big_card_ocr_text, :value => @big_card.ocr_text, class: "form-control ocr-fix", rows: "8" %>

          <%= form.hidden_field :big_card, id: :espy_record_big_card, :value => true %>
          <%= form.hidden_field :big_card_id, id: :espy_record_big_card_id, :value => @big_card.id %>
          <%= form.hidden_field :big_card_files, id: :espy_record_big_card_files, :value => @big_card.file_group %>
          <%= form.hidden_field :big_card_aspace, id: :espy_record_big_card_files, :value => @big_card.aspace %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col">

    <div class="field">
      <%= form.hidden_field :uuid, id: :espy_record_uuid, :value => SecureRandom.uuid %>
    </div>

    <div class="field">
      <%= form.hidden_field :icpsr_record, id: :espy_record_icpsr_record, :value => true %>
    </div>

    <div class="field">
      <%= form.hidden_field :icpsr_record_id, id: :espy_record_icpsr_record_id, :value => @record.id %>
    </div>


    <div class="field">
      <%= form.hidden_field :reference_material, id: :espy_record_reference_material %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_id, id: :espy_record_reference_material_id %>
    </div>

    <div class="field">
      <%= form.hidden_field :reference_material_files, id: :espy_record_reference_material_files %>
    </div>

    <table class="table table-sm espyTable">
    <thead>
      <th colspan="1">
        <div class="btn-group col-md-auto">
          <%= link_to '<i class="fa fa-arrow-left"></i> Make'.html_safe, "/make?state=" + @this.state_abbreviation + "&card=" + @this.id.to_s, class: "btn btn-secondary"%>
        </div>
      </th>
      <th colspan="7" class="text-center align-middle">
          <strong>Espy Record</strong>
      </th>
    </thead>
      <tbody>

        <tr>
          <td class="field">
            <strong><%= form.label :record_type %></strong>
          </td>
          <td class="field" colspan="4">
            <% if espy_record.record_type.present? %>
              <%= form.select(:record_type, type_options, {selected: :record_type}, { :class => 'form-control', :id => :espy_record_record_type }) %>
            <% else %>
              <%= form.select(:record_type, type_options, {selected: "Sourced"}, { :class => 'form-control', :id => :espy_record_record_type }) %>
            <% end %>
          </td>
          <td class="field" colspan="1">
            <strong><%= form.label :icpsr_id %></strong>
          </td>
          <td class="field" colspan="2">
            <%= form.number_field :icpsr_id, id: :espy_record_icpsr_id, value: @record.icpsr_id, class: "form-control" %>
          </td>
        </tr>
        <tr>
           <td class="field" colspan="2">
            <strong class="nameLabel">Name:</strong>
           </td>
           <td class="field" colspan="6">
            <%= @record.name %>
           </td>
        </tr>
        <tr>
          <td class="field" colspan="6">
            <strong class="nameLabel"><%= form.label :first_name %></strong>
            <%= form.text_field :first_name, id: :espy_record_first_name, value: @firstName, class: "form-control nameWidth" %>
            <strong class="nameLabel"><%= form.label :last_name %></strong>
            <%= form.text_field :last_name, id: :espy_record_last_name, value: @lastName, class: "form-control nameWidth" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :name_source_icpsr, id: :espy_record_name_source_icpsr %>
              <% else %>
                <%= form.check_box :name_source_icpsr, id: :espy_record_name_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :name_source_index, id: :espy_record_name_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :name_source_big, id: :espy_record_name_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :name_source_ref, id: :espy_record_name_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong class="nameLabel">Owner Name</strong>
          </td>
          <td class="field" colspan="5">
            <%= form.text_field :owner_name, id: :espy_record_owner_name, class: "form-control", value: @ownerName %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :owner_source_icpsr, id: :espy_record_owner_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :owner_source_index, id: :espy_record_name_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :owner_source_big, id: :espy_record_owner_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :owner_source_ref, id: :espy_record_owner_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :date_execution %></strong>
          </td>
          <td class="field">
            <label class="form-check-label circa">
              <strong>ca.</strong>
              <%= form.check_box :circa_date_execution, id: :espy_record_circa_date_execution %>
            </label>
          </td>
          <td class="field" colspan="4">
            <%= form.text_field :date_execution, id: :espy_record_date_execution, value: @record.date_execution, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :date_execution_source_icpsr, id: :espy_record_date_execution_source_icpsr %>
              <% else %>
                <%= form.check_box :date_execution_source_icpsr, id: :espy_record_date_execution_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_index, id: :espy_record_date_execution_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_big, id: :espy_record_date_execution_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_execution_source_ref, id: :espy_record_date_execution_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :date_crime %></strong>
          </td>
          <td class="field">
            <label class="form-check-label circa">
              <strong>ca.</strong>
              <%= form.check_box :circa_date_crime, id: :espy_record_circa_date_crime %>
            </label>
          </td>
          <td class="field" colspan="4">
            <%= form.text_field :date_crime, id: :espy_record_date_crime, class: "form-control" %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_icpsr, id: :espy_record_date_crime_source_icpsr %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_index, id: :espy_record_date_crime_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_big, id: :espy_record_date_crime_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :date_crime_source_ref, id: :espy_record_date_crime_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :age %></strong>
          </td>
          <td class="field" colspan="5">
            <% if @record.age != nil %>
              <%= form.number_field :age, id: :espy_record_age, value: @record.age, class: "form-control" %>
            <% else %>
              <%= form.number_field :age, id: :espy_record_age, class: "form-control" %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.age.present? and @record.icpsr_id.present? %> 
                <%= form.check_box :age_source_icpsr, id: :espy_record_age_source_icpsr, checked: true %>
              <% else %>
                <%= form.check_box :age_source_icpsr, id: :espy_record_age_source_icpsr %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :age_source_index, id: :espy_record_age_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :age_source_big, id: :espy_record_age_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :age_source_ref, id: :espy_record_age_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong>Gender Assigned</strong>
          </td>
          <td class="field" colspan="5">
            <%= form.select(:sex, options_for_select(['Male', 'Female', 'Non-binary', 'Unknown'], @record.sex), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_sex }) %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :sex_source_icpsr, id: :espy_record_sex_source_icpsr %>
              <% else %>
                <%= form.check_box :sex_source_icpsr, id: :espy_record_sex_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :sex_source_index, id: :espy_record_sex_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :sex_source_big, id: :espy_record_sex_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :sex_source_ref, id: :espy_record_sex_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :race %></strong>
          </td>
          <td class="field" colspan="5">
            <% if @record.race == "Asian-Pacific Il" %>
              <%= form.select(:race, options_for_select(race_options, 'Asian-Pacific Islander'), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_race }) %>
            <% else %>
              <%= form.select(:race, options_for_select(race_options, @record.race), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_race }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :race_source_icpsr, id: :espy_record_race_source_icpsr %>
              <% else %>
                <%= form.check_box :race_source_icpsr, id: :espy_record_race_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :race_source_index, id: :espy_record_race_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :race_source_big, id: :espy_record_race_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :race_source_ref, id: :espy_record_race_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong>Crime Convicted of</strong>
          </td>
          <td class="field" colspan="5">
            <%= form.select(:crime, options_for_select(crime_options, @record.crime), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_crime }) %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :crime_source_icpsr, id: :espy_record_crime_source_icpsr %>
              <% else %>
                <%= form.check_box :crime_source_icpsr, id: :espy_record_crime_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :crime_source_index, id: :espy_record_crime_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :crime_source_big, id: :espy_record_crime_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :crime_source_ref, id: :espy_record_crime_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
         <td class="field">
            <strong>Enslaved</strong>
          </td>
          <td class="field">
            <% if @record.occupation == "Slave" %>
              <%= form.check_box :slave, id: :espy_record_slave,  checked: true %>
            <% else %>
              <%= form.check_box :slave, id: :espy_record_slave %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :slave_source_icpsr, id: :espy_record_slave_source_icpsr %>
              <% else %>
                <%= form.check_box :slave_source_icpsr, id: :espy_record_slave_source_icpsr,  checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :slave_source_index, id: :espy_record_slave_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :slave_source_big, id: :espy_record_slave_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :slave_source_ref, id: :espy_record_slave_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
          <td class="field">
            <strong><%= form.label :compensation_case %></strong>
          </td>
          <td class="field">
            <% if @record.compensation_case == true %>
              <%= form.check_box :compensation_case, id: :espy_record_compensation_case, checked: true %>
            <% else %>
              <%= form.check_box :compensation_case, id: :espy_record_compensation_case %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :comp_source_icpsr, id: :espy_record_comp_source_icpsr %>
              <% else %>
                <%= form.check_box :comp_source_icpsr, id: :espy_record_comp_source_icpsr,  checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :comp_source_index, id: :espy_record_comp_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :comp_source_big, id: :espy_record_comp_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :comp_source_ref, id: :espy_record_comp_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :execution_method %></strong>
          </td>
          <td class="field" colspan="5">
            <%= form.select(:execution_method, options_for_select(execution_options, @record.execution_method), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_execution_method }) %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :name_source_icpsr, id: :espy_record_name_source_icpsr %>
              <% else %>
                <%= form.check_box :name_source_icpsr, id: :espy_record_name_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_index, id: :espy_record_execution_method_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_big, id: :espy_record_execution_method_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :execution_method_source_ref, id: :espy_record_execution_method_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :jurisdiction %></strong>
          </td>
          <% if @record.jurisdiction == "Other-Military" %>
            <% @autoJuris = "Military" %>
          <% elsif @record.jurisdiction == "Federal" %>
            <% @autoJuris = "Federal" %>
          <% elsif @record.jurisdiction == "Indian Tribunal" %>
            <% @autoJuris = "Native American" %>
          <% elsif @record.jurisdiction == "Territorial" %>
            <% @autoJuris = "Territorial" %>
          <% elsif @record.jurisdiction == "Local-Colonial" %>
            <% @autoJuris = "Local-Colonial" %>
          <% elsif @record.jurisdiction == "State" %>
            <% @autoJuris = "State" %>
          <% else %>
            <% @autoJuris = nil %>
          <% end %>
          <td class="field" colspan="5">
            <% if @autoJuris == nil %>
              <%= form.select(:jurisdiction, options_for_select(jurisdiction_options, @record.jurisdiction), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_jurisdiction }) %>
            <% else %>
              <%= form.select(:jurisdiction, options_for_select(jurisdiction_options, @autoJuris), {include_blank: ""}, { :class => 'form-control', :id => :espy_record_jurisdiction }) %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.icpsr_id.blank? %>
                <%= form.check_box :jurisdiction_source_icpsr, id: :espy_record_jurisdiction_source_icpsr %>
              <% else %>
                <%= form.check_box :jurisdiction_source_icpsr, id: :espy_record_jurisdiction_source_icpsr, checked: true %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_index, id: :espy_record_jurisdiction_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_big, id: :espy_record_jurisdiction_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :jurisdiction_source_ref, id: :espy_record_jurisdiction_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :state %></strong>
          </td>
          <td class="field" colspan="4">
            <%= form.text_field :state, id: :espy_record_state, value: @record.state, class: "form-control" %>
          </td>
          <td class="field">
            <strong>Abbr</strong>
          </td>
          <td class="field" colspan="2">
            <%= form.text_field :state_abbreviation, id: :espy_record_state_abbreviation, value: @record.state_abbreviation, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong>County Lookup</strong>
          </td>
          <td class="field" colspan="5">
            <input class="form-control" id="placeInput" placeholder="Search"></input>
          </td>
          <td class="field text-center" colspan="2">
            <a class="btn btn-success" href="#" id="countyLookup">
              <i class="fa fa-globe" aria-hidden="true"></i> County Lookup
            </a>         
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :county_name %></strong>
          </td>
          <td class="field" colspan="5">
            <% if @record.county_name == "Unknown" %>
              <%= form.text_field :county_name, id: :espy_record_county_name, class: "form-control" %>
            <% else %>
              <%= form.text_field :county_name, id: :espy_record_county_name, value: @record.county_name, class: "form-control" %>
            <% end %>
          </td>
          <td class="field">
            <label class="form-check-label">
              <% if @record.county_name == "Unknown" %>
                <%= form.check_box :county_source_icpsr, id: :espy_record_county_source_icpsr %>
              <% else %>
                <% if @record.icpsr_id.blank? %>
                  <%= form.check_box :county_source_icpsr, id: :espy_record_county_source_icpsr %>
                <% else %>
                  <%= form.check_box :county_source_icpsr, id: :espy_record_county_source_icpsr, checked: true %>
                <% end %>
              <% end %>
              <strong>Icpsr</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :county_source_index, id: :espy_record_county_source_index %>
              <strong>Index</strong>
            </label>
          </td>
          <td class="field">
            <label class="form-check-label">
              <%= form.check_box :county_source_big, id: :espy_record_county_source_big %>
              <strong>Big</strong>
            </label>
            <label class="form-check-label">
              <%= form.check_box :county_source_ref, id: :espy_record_county_source_ref %>
              <strong>Ref</strong>
            </label>
          </td>
        </tr>
        <tr>
          <td class="field">
            <strong><%= form.label :county_code %></strong>
          </td>
          <td class="field" id="fips" colspan="5">
            <% if @record.county_name == "Unknown" %>
              <%= form.number_field :county_code, id: :espy_record_county_code, type: "textarea", class: "form-control" %>
            <% else %>
              <% if @record.county_code.to_s.length == 4 %>
                <% @fipsCode = "0" + @record.county_code.to_s %>
              <% else %>
                <% @fipsCode = @record.county_code.to_s %>
              <% end %>
              <%= form.number_field :county_code, id: :espy_record_county_code, type: "textarea", value: @fipsCode.to_s, class: "form-control" %>
            <% end %>
          </td>
          <td class="field text-center" colspan="2">
              <a class="btn btn-info" target="_blank" href="#" id="fipsLookup"><i class="fa fa-info-circle" aria-hidden="true"></i> Get Code</a>         
          </td>
        <tr>
        <tr>
          <td class="field">
            <strong><%= form.label :note %></strong>
          </td>
          <td class="field" colspan="7">
            <%= form.text_area :note, id: :espy_record_note, class: "form-control" %>
          </td>
        </tr>

      </tbody>

    </table>

    <div class="form-group">
      <div class="text-center">
        <%= form.button '<i class="fa fa-check"></i> Make Espy Record'.html_safe, class: "btn btn-success", id: "makeEspy"%>
      </div>
    </div> 

    <div class="modal fade" id="modalMap">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">County Lookup</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="loadingBG">
              <iframe id="mapsWindow"></iframe>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col refCol">
    <% if @record.references.length > 0 %>
      <% if @record.references.length > 1 %>
        <% @splitter = "; " %>
      <% else %>
        <% @splitter = "; " %>
      <% end %>

      <% @refSwitch = false %>
      <% @refIDs = "" %>
      <% @refGroup = "" %>
      <% @refASpace = "" %>
      <% @refASpaceCount = 0 %>

      <% @record.references.each do |ref| %>
        <% @refSwitch = true %>
        <% @refIDs = @refIDs + ref.id.to_s + @splitter %>
        <% @refGroup = @refGroup + ref.filename + @splitter %>
        <% if not @refASpace.include? ref.aspace %>
          <% @refASpaceCount = @refASpaceCount + 1 %>
          <%if @refASpaceCount > 1 %>
            <% @refASpace = @refASpace + @splitter + ref.aspace %>
          <% else %>
            <% @refASpace = @refASpace + ref.aspace %>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'layouts/show_cards', file_group: @refGroup, folder: "reference" %>

      <%= form.hidden_field :reference_material, id: :espy_record_reference_material, :value => @refSwitch %>
      <%= form.hidden_field :reference_material_id, id: :espy_record_reference_material_id, :value => @refIDs %>
      <%= form.hidden_field :reference_material_files, id: :espy_record_reference_material_files, :value => @refGroup %>
      <%= form.hidden_field :reference_material_aspace, id: :espy_record_reference_material_aspace, :value => @refASpace %>
    <% end %>
    <h4>Filename: <span id="referenceFileName"></span></h4>
    <script>
        $( document ).ready(function() {
            $filename = $(".active").find('.modalPreview').attr("data-preview");
            if (typeof $filename == 'undefined') {
               $filename = $('.refCol').find('.modalPreview').attr("data-preview");
            }
            $("#referenceFileName").append($filename + ".jpg");
            $('#referenceControls').on('slid.bs.carousel', function () {
                $filename = $(".active").find('.modalPreview').attr("data-preview");
                $("#referenceFileName").empty();
                $("#referenceFileName").append($filename + ".jpg");
            });
        });
    </script>
  </div>

    

<% end %>
