<% provide(:section, "Make Espy Records") %>

<div class="container">
  <form class="form-inline stateForm">
    <label for="selectState"><strong>Select a State: </strong></label>
    <% if params.has_key?(:state) %>
    	<%= collection_select(:state, :state_abbreviation, IndexCard.all.uniq{|x| x.state_abbreviation} , :state_abbreviation, :state_abbreviation, {:prompt => true, :selected => params[:state]}, class: 'form-control', :onchange => "location.href = 'make?state=' + this.value") %>
   	<% else %>
   		<%= collection_select(:state, :state_abbreviation, IndexCard.all.uniq{|x| x.state_abbreviation} , :state_abbreviation, :state_abbreviation, {:prompt => true}, class: 'form-control', :onchange => "location.href = 'make?state=' + this.value") %>
   	<% end %>
  </form>
</div>
<% @index_card = IndexCard.where(state_abbreviation: params[:state]) %>
<% provide(:state, params[:state]) %>

<% if params[:state] %>

	<% if params.has_key?(:card) %>
		<% @card = params[:card].to_i %>
		<% if @card == 0 %>
			<% @previous = nil %>
		<% else %>
			<% if @index_card.exists?(id: @card - 1) %>
				<% @previous = @index_card.find(@card - 1) %>
			<% else %>
				<% @previous = nil %>
			<% end %>
		<% end %>
		<% @this = @index_card.find(@card) %>
		<% if @index_card.exists?(id: @card + 1) %>
			<% @next = @index_card.find(@card + 1) %>
		<% else %>
			<% @next = nil %>
		<% end %>
	<% else %>
		<% @previous = nil %>
		<% @stop = false %>
		<% @next_index = 0 %>
		<% @next = nil %>
		<% @index_card.each_with_index do |card, index| %>
			<% if @stop == true %>
				<% if index == @next_index %>
					<% @next = card %>
				<% end %>
			<% else %>
				<% if card.used_check == false %>
					<% @this = card %>
					<% @stop = true %>
					<% @next_index = index + 1 %>
				<% else %>
					<% @previous = card %>
				<% end %>
			<% end %>
		<% end %>
		<% if @stop == false %>
			<% @previous = nil %>
			<% @this = @index_card.first %>
			<% @next = @index_card.second %>
		<% end %>
	<% end %>


	<% @state_used = @index_card.where(used_check: true).count %>
	<% @state_total = @index_card.count %>
	<% @used = IndexCard.where(used_check: true).count %>
	<% @total = IndexCard.count %>
	<% @state_pct = @state_used.to_f / @state_total.to_f %>
	<% @total_pct = @used.to_f / @total.to_f %>

	<% provide(:state_used, @state_used.to_s) %>
	<% provide(:state_total, @state_total.to_s) %>
	<% provide(:state_pct, number_to_percentage(@state_pct * 100, precision: 0).chop) %>
	<% provide(:used, @used.to_s) %>
	<% provide(:total, @total.to_s) %>
	<% provide(:total_pct, number_to_percentage(@total_pct * 100, precision: 0).chop) %>



	<div class="row padded-row">

		<div class="col-lg-6 col-md-12">

			<div class="col-lg-10 mx-auto">
				<table class="table table-sm">
					<tbody>
						<tr>
							<td><strong>Used:</strong></td>
							<td>
								<%= render 'layouts/boolean_check', check: @this.used_check %>
							</td>
							<td>
								<% if params[:card] %>
									<%= link_to("<i class='fa fa-times' aria-hidden='true'></i> Ignore".html_safe, index_card_path(@this.id, "index_card[used_check]"  => true, "state" => params[:state], "card" => params[:card]), :method => :put, data: { confirm: 'Are you sure?' }, class: "btn btn-warning") %> 
								<% else %>
									<%= link_to("<i class='fa fa-times' aria-hidden='true'></i> Ignore".html_safe, index_card_path(@this.id, "index_card[used_check]"  => true, "state" => params[:state]), :method => :put, data: { confirm: 'Are you sure?' }, class: "btn btn-warning") %>
								<% end %>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		  	<% if @previous != nil %>
		  		<%= link_to "/make?state=" + params[:state] + "&card=" + @previous.id.to_s, class: "d-inline-block side-arrows" do %>
		    		<i class="fa fa-arrow-left fa-4x" aria-hidden="true"></i>
		  		<% end %>
		  	<% end %>
		  	<% if @this != nil %>
		    	<%= render 'layouts/show_cards', this: @this, folder: "smallCards" %>
		    <% end %>
		    <% if @next != nil %>
		  		<%= link_to "/make?state=" + params[:state] + "&card=" + @next.id.to_s, class: "d-inline-block side-arrows" do %>
		    		<i class="fa fa-arrow-right fa-4x" aria-hidden="true"></i>
		    	<% end %>
		 	<% end %>

		</div>

	    <div class="col-lg-6 col-md-12">

		  <div class="col-md-8 previewTable">
		  	<div class="form-group">
			    <form class="search-form">
			    <%= search_field_tag 'search', nil, class: 'form-control search-field', placeholder: 'Find'  %>
			    </form>
			    <script type="text/javascript">
			      $('.search-field').autocomplete({
			        source: "/search_suggestions",
			        select: function (event, ui) {
					   var label = ui.item.label;
					   console.log(ui.item);
					   $.ajax({
					        'url': '/search_suggestions?name=' + label,
					        'type' : 'GET',
					        'success' : function(data) { 
					        	var icpsr = $(".icpsr-field");
					   			icpsr.val(data['icpsr_id']); 
					   			if (data['used_check'] == true) {
					   				$("#used_check").empty().append("<i class='fa fa-check fa-2x text-success'></i>")
					   				$("#used_check").attr("data-value", "used")
					   			} else {
					   				$("#used_check").empty().append("<i class='fa fa-times fa-2x text-danger'></i>")
					   				$("#used_check").attr("data-value", "unused")
					   			}
					   			if (data['name'].indexOf(" ") >= 1) {
					   				$("#name").empty().append(data['name'].split(' ')[1] + " " + data['name'].split(' ')[0]);
					   			} else {
					   				$("#name").empty().append(data['name']);
					   			}
					   			$("#date_execution").val(data['date_execution']);
					   			$("#age").empty().append(data['age']);
					   			$("#race").empty().append(data['race']);
					   			$("#sex").empty().append(data['sex']);
					   			$("#execution_method").empty().append(data['execution_method']);
					   			$("#state").empty().append(data['state']);
					   			$("#state_abbreviation").empty().append(data['state_abbreviation']);
					   			$("#county_name").empty().append(data['county_name']);     
					        },
					    });
					}
			      });
			    </script>
			</div>
			


			<%= form_tag(new_espy_record_path, method: "get", id: "makeForm") do %>
				<div class="form-group">
					<% if @this.used_check == true %>
						<%= button_tag(type: "submit", data: {:confirm => "This index card has already been used. Are you sure you want to use it to create another Espy Record?"},class: "btn btn-primary submit-btn") do %>
					    <i class="fa fa-thumbs-up"></i> Select
						<% end %>
					<% else %>
						<%= button_tag(type: "submit", class: "btn btn-primary submit-btn") do %>
					    <i class="fa fa-thumbs-up"></i> Select
						<% end %>
					<% end %>
					<%= link_to '<i class="fa fa-thumbs-down"></i> No Record'.html_safe, "/espy_records/new?state=" + params[:state] + "&card=" + @this.id.to_s, class: "btn btn-secondary pull-right"%>
				</div>
				
				<table class="table table-sm">

		          <tbody>
		            <tr>
		              <td>
		                <strong>Icpsr:</strong>
		                <%= text_field_tag :icpsr, "", class: "form-control icpsr-field", placeholder: 'ICPSR Record' %>
		               	<% if @this != nil %>
		                	<%= hidden_field_tag :card, @this.id.to_s %>
		                <% end %>
		              </td>
		              <td>
		                <strong>Used check:</strong>
		                <span id="used_check"></span>
		              </td>
		            </tr>
		            <tr>
		              <td><strong>Name:</strong></td>
		              <td id="name"></td>
		            </tr>
		            <tr>
		              <td><strong>Date execution:</strong></td>
		              <td><%= text_field_tag :date_execution, "", class: "form-control icpsr-field", id: "date_execution", required: true %></td>
		            </tr>
		            <tr>
		              <td><strong>Age:</strong></td>
		              <td id="age"></td>
		            </tr>
		            <tr>
		              <td><strong>Race:</strong></td>
		              <td id="race"></td>
		            </tr>
		            <tr>
		              <td><strong>Sex:</strong></td>
		              <td id="sex"></td>
		            </tr>
		            <tr>
		              <td><strong>Execution method:</strong></td>
		              <td id="execution_method"></td>
		            </tr>
		            <tr>
		              <td><strong>State:</strong></td>
		              <td id="state"></td>
		            </tr>
		            <tr>
		              <td><strong>State abbreviation:</strong></td>
		              <td id="state_abbreviation"></td>
		            </tr>
		            <tr>
		              <td><strong>County name:</strong></td>
		              <td id="county_name"></td>
		            </tr>

		            
		          </tbody>

		        </table>
			 		
			  		
			  	</div>

			  
			<% end %>
			



		  </div>

		</div>

<% end %>

<div class="container">
  <div class="text-center">
    <div class="btn-group col-md-auto">
      <%= link_to '<i class="fa fa-list"></i> List'.html_safe, espy_records_path, class: "btn btn-secondary"%>
    </div>
  </div>
</div>