<% provide(:section, "View Espy Record") %>

<% if notice %>
  <div id="notice" class="container">
    <p class="alert alert-success" role="alert"><%= notice %></tr>
  </div>
<% end %>

<div class="thirds">

  <div class="container title-card ">
    <div class="text-center">
      <div class="btn-group col-md-auto">
        <%= link_to '<i class="fa fa-list"></i> List'.html_safe, espy_records_path, class: "btn btn-secondary"%>
        <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_espy_record_path(@espy_record), class: "btn btn-info"%>
        <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, @espy_record, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

  <div class="thirds-top">

    <% if @espy_record.index_card_id.present? %>
      <% @this = IndexCard.find(@espy_record.index_card_id) %>
      <%= render 'layouts/show_cards', this: @this, folder: "smallCards"%>
    <% end %>

    <div class="field col-md-10 mx-auto">
      <div class="ocrCheck">
        <strong>OCR Fixed:</strong>
        <%= render 'layouts/boolean_check', check: @espy_record.ocr_fixed %>
      </div>
      <% if @espy_record.ocr_text.present? %>
        <%= @espy_record.ocr_text %>
      <% end %>
    </div>
  </div>
  <div class="thirds-top">
    <% if @espy_record.big_card == true%>
      <% @big_card = BigCard.find(@espy_record.big_card_id) %>
      <%= render 'layouts/show_cards', this: @big_card, folder: "bigCards" %>
      <div class="field col-md-10 mx-auto">
        <div class="ocrCheck">
          <strong>OCR Fixed:</strong>
          <%= render 'layouts/boolean_check', check: @espy_record.big_ocr_check %>
        </div>
        <% if @espy_record.big_ocr.present? %>
          <%= @espy_record.big_ocr %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="thirds">

  <table class="table table-sm espyTable">
    <thead><th colspan="6" class="text-center"><strong>Espy Record</strong></td></th></thead>
      <tbody>

        <tr>
          <td><strong>UUID:</strong></td>
          <td colspan="3"><%= @espy_record.uuid %></td>
        </tr>

        <tr>
          <td><strong>Record Type:</strong></td>
          <td colspan="3"><%= @espy_record.record_type %></td>
        </tr>

        <tr>
          <td><strong>Icpsr record:</strong></td>
          <td>
            <%= render 'layouts/boolean_check', check: @espy_record.icpsr_record %>
          </td>
          <td><strong>Icpsr record ID:</strong></td>
          <td><%= @espy_record.icpsr_record_id %></td>
        </tr>

        <tr>
          <td><strong>Index card:</strong></td>
          <td>
            <%= render 'layouts/boolean_check', check: @espy_record.index_card %>
          </td>
          <td><strong>Index card Record ID:</strong></td>
          <td><%= @espy_record.index_card_id %></td>
        </tr>
        <tr>
          <td><strong>Index card files:</strong></td>
          <td colspan="3"><%= @espy_record.index_card_files %></td>
        </tr>
        <tr>
          <td><strong>Index card ASpace ID:</strong></td>
          <td colspan="3"><%= @espy_record.index_card_aspace %></td>
        </tr>

        <tr>
          <td><strong>Big card:</strong></td>
          <td>
            <%= render 'layouts/boolean_check', check: @espy_record.big_card %>
          </td>
          </td>
          <td><strong>Big card record ID:</strong></td>
          <td><%= @espy_record.big_card_id %></td>
        </tr>
        <tr>
          <td><strong>Big card files:</strong></td>
          <td colspan="3"><%= @espy_record.big_card_files %></td>
        </tr>
        <tr>
          <td><strong>Big card ASpace ID:</strong></td>
          <td colspan="3"><%= @espy_record.big_card_aspace %></td>
        </tr>

        <tr>
          <td><strong>Ref material:</strong></td>
          <td>
            <%= render 'layouts/boolean_check', check: @espy_record.reference_material %>
          </td>
          <td><strong>Ref material ID:</strong></td>
          <td><%= @espy_record.reference_material_id %></td>
        </tr>
        <tr>
          <td><strong>Ref material files:</strong></td>
          <td colspan="3"><%= @espy_record.reference_material_files %></td>
        </tr>
        <tr>
          <td><strong>Ref material ASpace ID:</strong></td>
          <td colspan="3"><%= @espy_record.reference_material_aspace %></td>
        </tr>

        <tr>
          <td><strong>Icpsr record:</strong></td>
          <td colspan="3"><%= @espy_record.icpsr_id %></td>
        </tr>

        <tr>
          <td>
            <strong>First name:</strong>
            <%= @espy_record.first_name %>
          </td>
          <td>
            <strong>Last name:</strong>
            <%= @espy_record.last_name %>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.name_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.name_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.name_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.name_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Date execution:</strong></td>
          <td>
            <% if @espy_record.circa_date_execution == true %>
              Circa 
            <% end %>
            <%= @espy_record.date_execution %>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_execution_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_execution_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_execution_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_execution_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Date crime:</strong></td>
          <td>
            <% if @espy_record.circa_date_crime == true %>
              Circa 
            <% end %>
            <%= @espy_record.date_crime %>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_crime_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_crime_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_crime_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.date_crime_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Age:</strong></td>
          <td><%= @espy_record.age %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.age_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.age_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.age_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.age_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Sex:</strong></td>
          <td><%= @espy_record.sex %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.sex_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.sex_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.sex_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.sex_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Race:</strong></td>
          <td><%= @espy_record.race %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.race_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.race_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.race_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.race_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Crime:</strong></td>
          <td><%= @espy_record.crime %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.crime_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.crime_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.crime_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.crime_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Execution method:</strong></td>
          <td><%= @espy_record.execution_method %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.execution_method_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.execution_method_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.execution_method_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.execution_method_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>Jurisdiction:</strong></td>
          <td><%= @espy_record.jurisdiction %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.jurisdiction_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.jurisdiction_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.jurisdiction_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.jurisdiction_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>State:</strong></td>
          <td><%= @espy_record.state %></td>
          <td><strong>State abbreviation:</strong></td></td>
          <td id="espy_record_state_abbreviation"><%= @espy_record.state_abbreviation %></td>
        </tr>

        <tr>
          <td><strong>County name:</strong></td>
          <td id="espy_record_county_name"><%= @espy_record.county_name %></td>
          <td>
            <label class="form-check-label">
              <strong>Icpsr</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.county_source_icpsr %>
              <strong>Index</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.county_source_index %>
            </label>
          </td>
          <td>
            <label class="form-check-label">
              <strong>Big</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.county_source_big %>
              <strong>Ref</strong>
              <%= render 'layouts/small_boolean', check: @espy_record.county_source_ref %>
            </label>
          </td>
        </tr>

        <tr>
          <td><strong>County code:</strong></td>
          <td><%= @espy_record.county_code %></td>
          <td colspan="2">
            <a class="btn btn-success" href="#" id="countyBtn"><i class="fa fa-globe" aria-hidden="true"></i> County Check</a>          
          </td>
        </tr>      

        <tr>
          <td><strong>Compensation case:</strong></td>
          <td><%= @espy_record.compensation_case %></td>
          <td><strong>Icpsr state:</strong></td>
          <td><%= @espy_record.icpsr_state %></td>
        </tr>

    </tbody>
  </table>

  <div class="modal fade" id="modalMap">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">County Lookup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="loadingBG">
            <iframe id="mapsWindow"></iframe>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>
