<% provide(:section, "View Espy Record") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @espy_record.uuid %>
</p>

<p>
  <strong>Icpsr record:</strong>
  <%= @espy_record.icpsr_record %>
</p>

<p>
  <strong>Icpsr record:</strong>
  <%= @espy_record.icpsr_record_id %>
</p>

<p>
  <strong>Index card:</strong>
  <%= @espy_record.index_card %>
</p>

<p>
  <strong>Index card:</strong>
  <%= @espy_record.index_card_id %>
</p>

<p>
  <strong>Index card files:</strong>
  <%= @espy_record.index_card_files %>
</p>

<p>
  <strong>Big card:</strong>
  <%= @espy_record.big_card %>
</p>

<p>
  <strong>Big card:</strong>
  <%= @espy_record.big_card_id %>
</p>

<p>
  <strong>Big card files:</strong>
  <%= @espy_record.big_card_files %>
</p>

<p>
  <strong>Reference material:</strong>
  <%= @espy_record.reference_material %>
</p>

<p>
  <strong>Reference material:</strong>
  <%= @espy_record.reference_material_id %>
</p>

<p>
  <strong>Reference material files:</strong>
  <%= @espy_record.reference_material_files %>
</p>

<p>
  <strong>Ocr text:</strong>
  <%= @espy_record.ocr_text %>
</p>

<p>
  <strong>Icpsr:</strong>
  <%= @espy_record.icpsr_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @espy_record.name %>
</p>

<p>
  <strong>Date execution:</strong>
  <%= @espy_record.date_execution %>
</p>

<p>
  <strong>Circa date execution:</strong>
  <%= @espy_record.circa_date_execution %>
</p>

<p>
  <strong>Date crime:</strong>
  <%= @espy_record.date_crime %>
</p>

<p>
  <strong>Circa date crime:</strong>
  <%= @espy_record.circa_date_crime %>
</p>

<p>
  <strong>Age:</strong>
  <%= @espy_record.age %>
</p>

<p>
  <strong>Race:</strong>
  <%= @espy_record.race %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @espy_record.sex %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @espy_record.occupation %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @espy_record.crime %>
</p>

<p>
  <strong>Execution method:</strong>
  <%= @espy_record.execution_method %>
</p>

<p>
  <strong>Location execution:</strong>
  <%= @espy_record.location_execution %>
</p>

<p>
  <strong>Jurisdiction:</strong>
  <%= @espy_record.jurisdiction %>
</p>

<p>
  <strong>State:</strong>
  <%= @espy_record.state %>
</p>

<p>
  <strong>State abbreviation:</strong>
  <%= @espy_record.state_abbreviation %>
</p>

<p>
  <strong>County code:</strong>
  <%= @espy_record.county_code %>
</p>

<p>
  <strong>County name:</strong>
  <%= @espy_record.county_name %>
</p>

<p>
  <strong>Compensation case:</strong>
  <%= @espy_record.compensation_case %>
</p>

<p>
  <strong>Icpsr state:</strong>
  <%= @espy_record.icpsr_state %>
</p>

<%= link_to 'Edit', edit_espy_record_path(@espy_record) %> |
<%= link_to 'Back', espy_records_path %>
