<%= form_with(model: reference, local: true) do |form| %>
  <% if reference.errors.any? %>
    <div class="container">
      <div class="alert alert-danger" role="alert">
      
        <strong>Error!</strong> <%= pluralize(espy_record.errors.count, "error") %>  prevented this record from being created.
        <ul>
        <% espy_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <table class="table table-sm">

  <tr class="field">
    <td><%= form.label :filename %></td>
    <td><%= form.text_field :filename, id: :reference_filename %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :folder_name %>
    <td><%= form.text_field :folder_name, id: :reference_folder_name %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :used_check %>
    <td><%= form.check_box :used_check, id: :reference_used_check %></td>
  </tr>

  <tr class="field">
    <td><%= form.label :aspace %>
    <td><%= form.text_field :aspace, id: :reference_aspace %></td>
  </tr>

  <tr class="actions">
    <td  colspan="2" class="text-center">
      <%= form.button '<i class="fa fa-check"></i> Update Reference Record'.html_safe, class: "btn btn-success" %>
    </td>
  </tr>

  </table>
<% end %>
