<% provide(:section, "Edit Reference Material") %>

<div class="row padded-row">

	<div class="col-lg-6 col-md-12 text-center">

		<% @folder = @reference.filename.split("_")[0] + "_" + @reference.filename.split("_")[1] %>

		<img class="plainImg" src="/images/reference/<%= @reference.filename %>"/>

	</div>
	<div class="col-lg-6 col-md-12">

	<%= render 'form', reference: @reference %>

		<div class="container">
		  <div class="text-center">
		    <div class="btn-group col-md-auto">
		      <%= link_to '<i class="fa fa-list"></i> List'.html_safe, references_path + "?folder=" + @reference.folder_name, class: "btn btn-secondary"%>
		      <%= link_to '<i class="fa fa-info-circle"></i> View'.html_safe, @reference, class: "btn btn-primary"%>
		      <% if false %>
		      	<%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, @reference, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
		      <% end %>
		    </div>
		  </div>
		</div>

	</div>

</div>