<% provide(:section, "List Reference Material") %>
<% if notice %>
  <div id="notice" class="container">
    <p class="alert alert-danger" role="alert"><%= notice %></p>
  </div>
<% end %>

<div class="container">
  <form class="form-inline stateForm">
    <label for="selectState"><strong>Select a Folder: </strong></label>
    <% if params.has_key?(:folder) && params[:folder] != "*" %>
      <%= collection_select(:folder, :folder_name, Reference.all.uniq{|x| x.folder_name} , :folder_name, :folder_name, {:prompt => true, :selected => params[:folder]}, class: 'form-control', :onchange => "location.href = 'references?folder=' + this.value") %>
    <% else %>
      <%= collection_select(:folder, :folder_name, Reference.all.uniq{|x| x.folder_name} , :folder_name, :folder_name, {:prompt => true}, class: 'form-control', :onchange => "location.href = 'references?folder=' + this.value") %>
    <% end %>
    <a href="/references?folder=*" class="btn btn-info">Show All</a>
  </form>
</div>

<% provide(:state, params[:folder]) %>

<% if params[:folder] %>
  <% @folder_used = @references.where(used_check: true).count %>
  <% @folder_total = @references.count %>
  <% @used = Reference.where(used_check: true).count %>
  <% @total = Reference.count %>
  <% @folder_pct = @folder_used.to_f / @folder_total.to_f %>
  <% @total_pct = @used.to_f / @total.to_f %>

  <% provide(:state_used, @folder_used.to_s) %>
  <% provide(:state_total, @folder_total.to_s) %>
  <% provide(:state_pct, number_to_percentage(@folder_pct * 100, precision: 0).chop) %>
  <% provide(:used, @used.to_s) %>
  <% provide(:total, @total.to_s) %>
  <% provide(:total_pct, number_to_percentage(@total_pct * 100, precision: 0).chop) %>

<% end %>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Folder Name</th>
      <th>Filename</th>
      <th>Used check</th>
      <th>Active?</th>
      <th>Links</th>
      <th>ASpace ID</th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-link"></i> Link'.html_safe, "/link_pdfs?folder=" + reference.folder_name + "&item=" + reference.id.to_s, class: "btn btn-success"%>
            <%= link_to '<i class="fa fa-info-circle"></i> View'.html_safe, reference, class: "btn btn-primary"%>
            <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_reference_path(reference), class: "btn btn-info"%>
          </div>
        </td>
        <td><%= reference.folder_name %></td>
        <td><%= reference.filename %></td>
        <td>
          <%= render 'layouts/boolean_check', check: reference.used_check %>
        </td>
        <td><%= render 'layouts/boolean_check', check: reference.active %></td>
        <td>
          <% reference.icpsr_records[0..2].each do |link | %>
            <% if link.name != nil && link.name.length > 1 %>
                <p style="margin-bottom:0px;"><a href="/icpsr_records/<%= link.id %>"><%= link.name %></a></p>
            <% else %>
                <p style="margin-bottom:0px;"><a href="/icpsr_records/<%= link.id %>">Unnamed</a></p>
            <% end %> 
	  <% end %>
	  <% if reference.icpsr_records.length > 3 %>
	    ... [ <%= link_to 'View All'.html_safe, reference, class: ""%> ]
	  <% end %>
        </td>
        <td><%= reference.aspace %></td>
      </tr>
    <% end %>
  </tbody>
</table>
