<% provide(:section, "View Reference Material") %>
<% if notice %>
  <div id="notice" class="container">
    <p class="alert alert-success" role="alert"><%= notice %></p>
  </div>
<% end %>

<div class="row padded-row">

    <div class="col-lg-6 col-md-12 text-center">

    	<img class="plainImg" src="/images/reference/<%= @reference.filename %>?+ <%=Time.now.getutc%>" />

    </div>
   	<div class="col-lg-6 col-md-12">

   		<h2><%= @reference.folder_name %></h2>


		<p>
		  <strong>Filename:</strong>
		  <%= @reference.filename %>
		</p>

		<p>
		  <strong>Used check:</strong>
		  <%= render 'layouts/boolean_check', check: @reference.used_check %>
		</p>

		<% @reference.icpsr_records.each do |link | %>
            <p><a href="/icpsr_records/<%= link.id %>"><%= link.name %></a></p>
         <% end %>

		<p>
		  <strong>Aspace:</strong>
		  <%= @reference.aspace %>
		</p>

		<p>
			<%= link_to '<i class="fa fa-repeat"></i> Rotate Image'.html_safe, "/rotate?item=" + @reference.id.to_s, class: "btn btn-warning", :data => { :'data-turbolinks' => 'false' } %>
		</p>
		<p>
			Rotation: <%= @reference.rotation %>
			<% if @reference.rotation == nil %>
				Nope
			<% end %>

		</p>

		<div class="container">
		  <div class="text-center">
		    <div class="btn-group col-md-auto">
		      <%= link_to '<i class="fa fa-list"></i> List'.html_safe, references_path + "?folder=" + @reference.folder_name, class: "btn btn-secondary"%>
		      <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_reference_path(@reference), class: "btn btn-info"%>
		    </div>
		  </div>
		</div>

	</div>
</div>

