<%= form_with(model: index_card, local: true) do |form| %>
  <% if index_card.errors.any? %>
    <div class="container">
      <div class="alert alert-danger" role="alert">
      
        <strong>Error!</strong> <%= pluralize(espy_record.errors.count, "error") %>  prevented this record from being created.
        <ul>
        <% espy_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

   <table class="table">

      <tbody>
        <tr>
          <td><strong>Jurisdiction abbreviation</strong></td>
          <td><%= form.text_field :state_abbreviation, id: :index_card_state_abbreviation %></td>
          <td><strong><%= form.label :used_check %></strong></td>
          <td><%= form.check_box :used_check, id: :index_card_used_check %></td>
        </tr>
        <tr>
          <td><strong><%= form.label :root_filename %></strong></td>
          <td colspan="3" class="fullTextArea"><%= form.text_field :root_filename, id: :index_card_root_filename %></td>
        </tr>
        <tr>
           <td><strong><%= form.label :file_group %></strong></td>
           <td colspan="3" class="fullTextArea"><%= form.text_field :file_group, id: :index_card_file_group %></td>
        </tr>
        <tr>
           <td><strong>ASpace ID</strong></td>
           <td colspan="3" class="fullTextArea"><%= form.text_field :aspace, id: :index_card_space %></td>
        </tr>
        <tr>
          <td colspan="4" class="fullTextArea"><%= form.text_area :ocr_text, id: :index_card_ocr_text %></td>
        </tr>
        <tr>
            <td colspan="4" class="actions">
              <div class="text-center">
                <%= form.button '<i class="fa fa-check"></i> Update Index Card'.html_safe, class: "btn btn-success" %>
              </div>
            </td>
        </tr>
      </tbody>
    </table>

<% end %>
