<% provide(:section, "List Index Cards") %>
<% if notice %>
  <div id="notice" class="container">
    <p class="alert alert-danger" role="alert"><%= notice %></p>
  </div>
<% end %>


<div class="container">
  <form class="form-inline stateForm">
    <label for="selectState"><strong>Select a State: </strong></label>
    <%= collection_select(:state, :state_abbreviation, IndexCard.all.uniq{|x| x.state_abbreviation} , :state_abbreviation, :state_abbreviation, {:prompt => true}, class: 'form-control', :onchange => "location.href = 'index_cards?state=' + this.value") %>
    <a href="/index_cards?state=*" class="btn btn-info">All States</a>
  </form>
</div>

<% provide(:state, params[:state]) %>

<% if params[:state] %>
  <% @state_used = @index_cards.where(used_check: true).count %>
  <% @state_total = @index_cards.count %>
  <% @used = IndexCard.where(used_check: true).count %>
  <% @total = IndexCard.count %>
  <% @state_pct = @state_used.to_f / @state_total.to_f %>
  <% @total_pct = @used.to_f / @total.to_f %>

  <% provide(:state_used, @state_used.to_s) %>
  <% provide(:state_total, @state_total.to_s) %>
  <% provide(:state_pct, number_to_percentage(@state_pct * 100, precision: 0).chop) %>
  <% provide(:used, @used.to_s) %>
  <% provide(:total, @total.to_s) %>
  <% provide(:total_pct, number_to_percentage(@total_pct * 100, precision: 0).chop) %>

<% end %>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>Actions</th>
      <th>State abbreviation</th>
      <th>Used check</th>
      <th>Root filename</th>
      <th>File group</th>
      <th>Ocr text</th>
    </tr>
  </thead>

  <tbody>
    <% @index_cards.each do |index_card| %>
      <tr>
        <td>
          <div class="btn-group">
            <%= link_to '<i class="fa fa-info-circle"></i> View'.html_safe, index_card, class: "btn btn-primary"%>
            <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_index_card_path(index_card), class: "btn btn-info"%>
            <%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, index_card, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </td>
        <td><%= index_card.state_abbreviation %></td>
        <td>
          <% if index_card.used_check == true %>
           <i class="fa fa-check fa-2x text-success"></i>
          <% else %>
           <i class="fa fa-times fa-2x text-danger"></i>
          <% end %>
        </td>
        <td class="smallTableFont"><%= index_card.root_filename %></td>
        <td class="smallTableFont"><%= index_card.file_group %></td>
        <td><%= index_card.ocr_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
