<% provide(:section, "View Index Card") %>


<div class="row padded-row">

    <div class="col-lg-6 col-md-12">
      
      <%= render 'layouts/show_cards', file_group: @index_card.file_group, folder: "smallCards" %>
      
    </div>
    <div class="col-lg-6 col-md-12">

    <table class="table table-sm">

      <tbody>
        <tr>
          <td><strong>Jurisdiction abbreviation:</strong></td>
          <td><%= @index_card.state_abbreviation %></td>
          <td><strong>Used check:</strong></td>
          <td><%= render 'layouts/boolean_check', check: @index_card.used_check %></td>
        </tr>
        <tr>
          <td><strong>Root filename:</strong></td>
          <td colspan="3" class="smallTableFont"><%= @index_card.root_filename %></td>
        </tr>
        <tr>
          <td><strong>File group:</strong></td>
          <td colspan="3" class="smallTableFont"><%= @index_card.file_group %></td>
        </tr>
        <tr>
          <td><strong>ASpace ID:</strong></td>
          <td colspan="3"><%= @index_card.aspace %></td>
        </tr>
        <tr>
          <td><strong>OCR Text:</strong></td>
          <td colspan="3"><%= @index_card.ocr_text %></td>
        </tr>
      </tbody>
    </table>


    
  </div>
  <div class="container">
    <div class="text-center">
      <div class="btn-group col-md-auto">
        <%= link_to '<i class="fa fa-list"></i> List'.html_safe, index_cards_path, class: "btn btn-secondary"%>
        <%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_index_card_path(@index_card), class: "btn btn-info"%>
      </div>
    </div>
  </div>
</div>
