<!DOCTYPE html>
<html>
  <head>
    <title>Espy Metadata Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>

  	<div class="jumbotron">
    	<h3>Espy Metadata Creation Tool</h3>
    	<p class="lead"><%= yield(:section) %></p>
    </div>

    <%= yield %>
  </body>
</html>
