<!DOCTYPE html>
<html>
  <head>
    <title>Espy Metadata Tool</title>
    <%= favicon_link_tag asset_path('http://library.albany.edu/sites/all/themes/New_UArchives/icons/ua/mainLogo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>

  	<div class="card title-card">
      <% if content_for?(:state) %>
        <% if content_for?(:total_pct) %>
          <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseProgress" aria-expanded="false" aria-controls="collapseProgress">
            <h4>
             <i class="fa progressDrop" aria-hidden="true"></i> <%= yield(:section) %> - <%= yield(:state) %>
            </h4>
          </div>
        <% else %>
          <div class="card-header">
            <h4>
             <i class="fa progressDrop" aria-hidden="true"></i> <%= yield(:section) %> - <%= yield(:state) %>
            </h4>
          </div>
        <% end %>
       <% else %>
        <div class="card-header">
         <h4><%= yield(:section) %>
        </div>
       <% end %>
      <% if content_for?(:state) && content_for?(:total_pct) %>
        <div class="card-block collapse" id="collapseProgress">
          <div class="">
            <% if  params[:state] != "*" %>
              <h4 class="card-title"><%= yield(:state) %> Used</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= yield(:state_pct) %>%" aria-valuenow="<%= yield(:state_pct) %>" aria-valuemin="0" aria-valuemax="100"><%= yield(:state_pct) %>%</div>
              </div>
               <p><%= yield(:state_used) %> of <%= yield(:state_total) %></p>
            <% end %>
             <h4 class="card-title">Total Used</h4>
             <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= yield(:total_pct) %>%" aria-valuenow="<%= yield(:total_pct) %>" aria-valuemin="0" aria-valuemax="100"><%= yield(:total_pct) %>%</div>
            </div>
             <p><%= yield(:used) %> of <%= yield(:total) %></p>
            </div>
        </div>
      <% end %>
    </div>
    
    <div class="container">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
    </div>

    <%= yield %>
  </body>
</html>
